@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Press Start 2P', cursive;
}

table {
  margin: auto;
  margin-bottom: 1em;
  border: 1px solid black;
  top: .1em;
}

th {
  margin: 1em;
  padding: .5em;
  border-bottom: 2px dotted black;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

th, td {
  border-right: 2px dotted black;
  padding: .4em;
}

tbody {
  border: 5px solid black;
}

.click {
  border: none;
}

.links {
  margin: 1em;
}

header {
  border-bottom: 3px dotted black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

button {
  padding: 1em;
}

label {
  padding-left: .5em;
}

.all, .add, .update {
  padding: .5em;
  width: 95%;
  margin: auto;
}

.home {
  position: absolute;
  display: flex;
  justify-content: left;
  width: fit-content;
  top: .5em;
  left: .5em;
  padding: 1em;
}

.back {
  padding: 1em
}

input, select {
  padding: 1em;
  margin: .2em;
}

.searchbar {
  margin-bottom: 1em;
}

.return {
  padding: .5em;
}

#AddSD, #AddS {
  border: 2px dotted black;
  margin: auto;
  margin-top: 3em;
  padding: 1em;
  width: max-content;
}

#AddSD {
  padding-left: 3em;
  padding-right: 3em;
}
