@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ECECEC;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  color:#1A23D8;
}

table {
  margin: auto;
  margin-bottom: 1em;
  border: 1px solid black;
  top: .1em;
}

th {
  margin: 1em;
  padding: .5em;
  border-bottom: 2px dotted black;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: #1A23D8;
}

th, td {
  border-right: 2px dotted black;
  padding: .4em;
}

tbody {
  border: 5px solid black;
}

.click {
  border: none;
  color:#1A23D8;
}

a {
  color: #1A23D8;
}

.links {
  margin: 1em;
  color: #1A23D8;
}

header {
  border-bottom: 3px dotted #1A23D8;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

p {
  text-align: left;
  padding: 0 5em 0 5em;
}

button {
  padding: 1em;
  background-color: #0071FF;
  border: none;
  border-radius: 5px;
  color: #ECECEC;
}

label {
  padding-left: .5em;
}

.all, .add, .update {
  padding: .5em;
  width: 95%;
  margin: auto;
}

.home {
  position: absolute;
  display: flex;
  justify-content: left;
  width: fit-content;
  top: .5em;
  left: .5em;
  padding: 1em;
}

.back {
  padding: 1em
}

input, select {
  padding: 1em;
  margin: .2em;
}

.searchbar {
  text-align: left;
  padding-right: 5em;
  border-left: 2px solid #1A23D8;
  border-radius: 2em;
  width: fit-content;
  margin: 1em 5em 1em 5em;
}

.return {
  padding: .5em;
}

#AddSD, #AddS {
  border: 2px dotted black;
  margin: auto;
  margin-top: 3em;
  padding: 1em;
  width: max-content;
}

#copy {
  margin-top: 5em;
  text-align: center;
}
